<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>
<body >

<div class="preloader">
  <div class="preloader__title">
    <span>reality?</span> <span class="preloader__answer">Yes</span>
    <button id="play" disabled class="preloader__play" onclick="playClick()">play intro</button>
  </div>
</div>

<div class="site">
  

  

  

</div>

<div id="progress"></div>

<script src="assets/js/app.min.js"></script>
</body>
</html>
